<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
    <title>1</title>
</head>
<body>
    <button id="send_button1">send1</button>
    <div style="margin-bottom: 30px;">この下にIDが表示される</div>
    <div  style="color:red;" id="message"></div>


    <%# START %>
      <ul class="memberList">
        <li>
          <span>ID</span>
          <span>苗字</span>
          <span>氏名</span>
          <span>帰り方</span>
        </li>
        <%# ループ --- //%>
          <li>
            <span><%= id %></span>
            <span><%= famillyName %></span>
            <span><%= flastName %></span>
            <span><%= transportation %></span><%# ボタンから渡ってくる0~6 //%>
          </li>
        <%#// --- ループ %>
      </ul>
      <ul class="totalValue">
          <li>
            <%# ループ --- //%>
              <span><%= transportation %> : </span><%# ボタンから渡ってくる0~6 //%>
              <span><%= totalEach %></span><%# 各0~6の合計数 //%>
            <%#// --- ループ %>
          </li>
          <li>
            <span>合計人数</span>
            <span><%= totalAll %></span><%# 0~6の全合計数 //%>
          </li>
      </ul>
    <%# //- END %>
<script>
  (function($){
      var milkcocoa = new MilkCocoa('flagiodjdk8y.mlkcca.com');
      var ds = milkcocoa.dataStore('messages');
      $('#send_button1').on('click', function() {
          ds.push({time : Date.now()});
      });
      ds.on('push', function(sended) {
          $('#message').text(JSON.stringify(sended));
      });
  })(jQuery);
</script>
</body>
</html>